body{
    font-size:14px;
    font-weight:bold;
}
.header{
    height:65px;
    width:2000px;
    background-color:white;
    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.1);  


}
.header div{
    vertical-align:middle;
    text-align:center;
    display:inline-block;
    
    
}

ul{
    list-style-type: none;
}
ul li{
    display:inline-block;
    
}
.header-center{
    margin:auto;
    padding-left: 600%
}
.header-left li{
    padding-left: 20px;
}
.header-right {
    padding-left: 650px;
    
}
.header-right li a{
    padding-right: 20px;
    
}