* {
    box-sizing: border-box;
}

body{
    font-size:14px;
    font-weight:bold;
    margin:0;
}
.top-header{
    height:65px;
    background-color:white;
    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.1);  

}
.header {
    float:left;
    padding:10px;
}
.header.left, .right{
    width:45%;
    text-align: center;
    line-height: 3rem;
}

.wordpadding{
    padding:2rem;
}

.headimage{
    width:2rem;
    height:2rem;
    vertical-align:middle;
}

.header.middle{
    width:10%;
    text-align: center;
    line-height: 3rem;
}
.frontimage{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 90rem;
    height: 25rem;
    position: relative;
}
.container{
    display:block;
    width: 980px;
    margin: 0px auto;
}
.editors-pick-carousel{
    margin: 36px 0px 0px;
}
.carousel-header{
    font-size: 1.3em;
    margin: 0px -1.5rem 0px 0px;
    padding: 0px 1rem;
}
.carousel-container{
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
}
.items{
    height: 100%;
}
.item{
    margin: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.05);
    border-image: initial;
    border-radius: 4px;
}
.carousel-image{
    width:225px;
    height:155px;
}
.carousel-test{
    overflow: hidden;
    max-width: 100%;
    padding: 1rem 1.2rem;
    line-height: 1.6;
}
.item-text{
    height:60px;
    word-break: break-all;    
    color: rgb(60, 55, 55);

}
.title{
    margin-bottom: 0px;
    font-size: 0.8rem;
    word-spacing: -1px;
    margin-top: 0em;
    font-weight: bold;
    line-height: 1.5;
}
.maker{
    margin:0em;
    font-size: 0.3rem;
    color:rgb(60, 55, 55);
}
svg{
    overflow: hidden;
    margin-top:0.5em;
    width:100%;
    height: 5px;
}
.timeicon{
    width:10px;
}
.timetext{
    
}